
<script>
  var myImageArray = ["/img/albums/20250208-region-finals/gallery/FMHSswim.region-381.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-100.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-118.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-120.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-123.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-129.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-140.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-144.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-146.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-172.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-173.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-181.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-185.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-198.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-217.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-223.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-232.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-234.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-235.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-244.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-257.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-261.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-265.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-291.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-302.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-304.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-307.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-310.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-313.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-332.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-347.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-350.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-355.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-357.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-361.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-367.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-368.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-373.jpg",
"/img/albums/20250208-region-finals/gallery/FMHSswim.region-378.jpg"];







  var position = parseInt(0);
  // Set the time interval for the function to execute
  setInterval(nextImage, 3000);
  function nextImage() {
      // If the position is less than the array length, increment by 1 to move to the next image; otherwise, go back to the first image
      if (position <= myImageArray.length-1) {
          position++;
      }
      // Wrap around from the last image to the first
      if (position > myImageArray.length-1) {
          position = 0;
      }
      document.getElementById("photos").src = myImageArray[position];
  }
</script>

<div class="widget-recent widget">
	<h4 class="widget__title">2025 Region Photos</h4>
	<div class="widget__content">
    <a class="widget__link" target="_blank" href="https://photos.fmhswaterjags.com/gallery#sYVMSgoZgPV5Z2q7BRFc-gTA">
      <img src="/img/albums/20250208-region-finals/gallery/FMHSswim.region-381.jpg" id="photos" height="400" width="500"/>
    </a>
	</div>
</div>