
<script>
  var myImageArray = ["/img/albums/20240209-regionals/gallery/20240209-regionals-0000a.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0000b.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0000c.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0000d.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0000e.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0003.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0010.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0015.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0019.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0023.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0028.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0034.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0038.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0039.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0045.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0049.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0054.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0057.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0060.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0067.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0074.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0087.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0110.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0121.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0135.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0155.jpg",
"/img/albums/20240209-regionals/gallery/20240209-regionals-0204.jpg"];

  var position = parseInt(0);
  // Set the time interval for the function to execute
  setInterval(nextImage, 3000);
  function nextImage() {
      // If the position is less than the array length, increment by 1 to move to the next image; otherwise, go back to the first image
      if (position <= myImageArray.length-1) {
          position++;
      }
      // Wrap around from the last image to the first
      if (position > myImageArray.length-1) {
          position = 0;
      }
      document.getElementById("photos").src = myImageArray[position];
  }
</script>

<div class="widget-recent widget">
	<h4 class="widget__title">Region Photos</h4>
	<div class="widget__content">
    <a class="widget__link" target="_blank" href="https://photos.fmhswaterjags.com/gallery#TCEtouTcuyqgnvYCM0OYjWhU">
      <img src="/img/albums/20240127-district/gallery/Districts24_001.webp" id="photos" height="500" width="500"/>
    </a>
	</div>
</div>