<!-- List all items in an album -->
<!-- 
{{$data := .Site.Data.albums.albums}}
{{ range $key, $value := $data }}
    {{ if eq $value.name "Meet 1"}}
        {{.name}} - ../img/albums/{{.path}}<br>
        <ul>
        {{ range .images}} 
            <li>../img/albums/{{$value.path}}{{.name}}</li>
        {{ end }}
        </ul>
    {{ end }}
{{ end }} 
-->

{{$data := .Site.Data.albums.albums}}
<!-- uncomment header when we have an album -->
<!-- <h2>albums</h2>  -->

{{ range $key, $value := $data }}
    <h3><a href="/albums/{{$value.path}}">{{.name}} - ({{.images | len }})</a></h3>
    <!-- <ul>
    {{ range first 4 .images}} 
        <li>../img/albums/{{$value.path}}{{.name}}</li>
    {{ end }}
    </ul> -->
    <div class="row">
        
        {{ range first 3 .images}} 
        <div class="column">
            <a href="/albums/{{$value.path}}"><img src="/img/albums/{{$value.path}}/{{.name}}" alt=""></a>
        </div>
        {{ end }}
        <div class="column">
            <a href="/albums/{{$value.path}}"><img src="/img/more.webp" alt="more..."></a>
        </div>
    </div>
{{ end }} 