{{ $season := .Get 0 }}
{{ $thumbs := .Get 1 }}
{{ $thumbs }}
{{ if $season }}
  <!-- <h1>yes season {{$season}} </h1> -->
  {{$data := where .Site.Data.albums.albums "season" $season }}
  {{ range $key, $value := (sort $data ".path" "desc" ) }}
      {{$lycheeurl := .url}}
      <h3><a href="{{$lycheeurl}}" target="_blank">{{.name}}</a></h3>
      {{ if eq $thumbs "no"}}
      {{ else }}
      <div class="row">
          {{ range first 3 .images}} 
          <div class="column">
            <a href="{{$lycheeurl}}" target="_blank"><img src="/img/albums/{{$value.path}}/{{.name}}" alt=""></a>
          </div>
          {{ end }}
          <div class="column">
            <a href="{{$lycheeurl}}" target="_blank"><img src="/img/more.webp" alt="more..."></a>
          </div>
      </div>
      {{ end }}
  {{ end }} 
{{ else }}
  <!-- <h1>no season</h1> -->
  {{$data := .Site.Data.albums.albums}}
  {{ range $key, $value := last 10 (sort $data ".path" "desc" ) }}
      {{$lycheeurl := .url}}
      <h3><a href="{{$lycheeurl}}" target="_blank">{{.name}}</a></h3>
      {{ if .bannerImg }}
      <img src="{{ .bannerImg }}" alt=""><br><br>
      {{ end }}
      {{ if eq $thumbs "no"}}
      {{ else }}
      <div class="row">
          {{ range first 3 .images}} 
          <div class="column">
            <a href="{{$lycheeurl}}" target="_blank"><img src="/img/albums/{{$value.path}}/{{.name}}" alt=""></a>
          </div>
          {{ end }}
          <div class="column">
            <a href="{{$lycheeurl}}" target="_blank"><img src="/img/more.webp" alt="more..."></a>
          </div>
      </div>
      {{ end }}
  {{ end }} 
{{ end }}
