
<script>
    var myImageArray = ["/img/albums/20240127-district/gallery/Districts24_001.webp",
"/img/albums/20240127-district/gallery/Districts24_002.webp",
"/img/albums/20240127-district/gallery/Districts24_003.webp",
"/img/albums/20240127-district/gallery/Districts24_005.webp",
"/img/albums/20240127-district/gallery/Districts24_006.webp",
"/img/albums/20240127-district/gallery/Districts24_007.webp",
"/img/albums/20240127-district/gallery/Districts24_008.webp",
"/img/albums/20240127-district/gallery/Districts24_009.webp",
"/img/albums/20240127-district/gallery/Districts24_010.webp",
"/img/albums/20240127-district/gallery/Districts24_011.webp",
"/img/albums/20240127-district/gallery/Districts24_012.webp",
"/img/albums/20240127-district/gallery/Districts24_013.webp",
"/img/albums/20240127-district/gallery/Districts24_014.webp",
"/img/albums/20240127-district/gallery/Districts24_015.webp",
"/img/albums/20240127-district/gallery/Districts24_016.webp",
"/img/albums/20240127-district/gallery/Districts24_017.webp",
"/img/albums/20240127-district/gallery/Districts24_018.webp",
"/img/albums/20240127-district/gallery/Districts24_019.webp",
"/img/albums/20240127-district/gallery/Districts24_020.webp",
"/img/albums/20240127-district/gallery/Districts24_021.webp",
"/img/albums/20240127-district/gallery/Districts24_022.webp",
"/img/albums/20240127-district/gallery/Districts24_023.webp",
"/img/albums/20240127-district/gallery/Districts24_024.webp",
"/img/albums/20240127-district/gallery/Districts24_025.webp",
"/img/albums/20240127-district/gallery/Districts24_026.webp",
"/img/albums/20240127-district/gallery/Districts24_027.webp",
"/img/albums/20240127-district/gallery/Districts24_028.webp",
"/img/albums/20240127-district/gallery/Districts24_029.webp",
"/img/albums/20240127-district/gallery/Districts24_030.webp",
"/img/albums/20240127-district/gallery/Districts24_031.webp",
"/img/albums/20240127-district/gallery/Districts24_032.webp",
"/img/albums/20240127-district/gallery/Districts24_033.webp",
"/img/albums/20240127-district/gallery/Districts24_034.webp",
"/img/albums/20240127-district/gallery/Districts24_035.webp",
"/img/albums/20240127-district/gallery/Districts24_036.webp",
"/img/albums/20240127-district/gallery/Districts24_037.webp",
"/img/albums/20240127-district/gallery/Districts24_038.webp",
"/img/albums/20240127-district/gallery/Districts24_039.webp",
"/img/albums/20240127-district/gallery/Districts24_040.webp",
"/img/albums/20240127-district/gallery/Districts24_041.webp",
"/img/albums/20240127-district/gallery/Districts24_042.webp",
"/img/albums/20240127-district/gallery/Districts24_043.webp",
"/img/albums/20240127-district/gallery/Districts24_044.webp",
"/img/albums/20240127-district/gallery/Districts24_045.webp",
"/img/albums/20240127-district/gallery/Districts24_046.webp",
"/img/albums/20240127-district/gallery/Districts24_047.webp",
"/img/albums/20240127-district/gallery/Districts24_048.webp",
"/img/albums/20240127-district/gallery/Districts24_049.webp",
"/img/albums/20240127-district/gallery/Districts24_050.webp",
"/img/albums/20240127-district/gallery/Districts24_051.webp",
"/img/albums/20240127-district/gallery/Districts24_052.webp",
"/img/albums/20240127-district/gallery/Districts24_053.webp",
"/img/albums/20240127-district/gallery/Districts24_054.webp",
"/img/albums/20240127-district/gallery/Districts24_055.webp",
"/img/albums/20240127-district/gallery/Districts24_056.webp",
"/img/albums/20240127-district/gallery/Districts24_057.webp",
"/img/albums/20240127-district/gallery/Districts24_058.webp",
"/img/albums/20240127-district/gallery/Districts24_059.webp",
"/img/albums/20240127-district/gallery/Districts24_060.webp",
"/img/albums/20240127-district/gallery/Districts24_061.webp",
"/img/albums/20240127-district/gallery/Districts24_062.webp",
"/img/albums/20240127-district/gallery/Districts24_063.webp",
"/img/albums/20240127-district/gallery/Districts24_064.webp",
"/img/albums/20240127-district/gallery/Districts24_065.webp",
"/img/albums/20240127-district/gallery/Districts24_066.webp",
"/img/albums/20240127-district/gallery/Districts24_067.webp",
"/img/albums/20240127-district/gallery/Districts24_068.webp",
"/img/albums/20240127-district/gallery/Districts24_069.webp",
"/img/albums/20240127-district/gallery/Districts24_070.webp",
"/img/albums/20240127-district/gallery/Districts24_071.webp",
"/img/albums/20240127-district/gallery/Districts24_072.webp",
"/img/albums/20240127-district/gallery/Districts24_073.webp",
"/img/albums/20240127-district/gallery/Districts24_074.webp",
"/img/albums/20240127-district/gallery/Districts24_075.webp",
"/img/albums/20240127-district/gallery/Districts24_076.webp",
"/img/albums/20240127-district/gallery/Districts24_077.webp",
"/img/albums/20240127-district/gallery/Districts24_078.webp",
"/img/albums/20240127-district/gallery/Districts24_079.webp",
"/img/albums/20240127-district/gallery/Districts24_080.webp",
"/img/albums/20240127-district/gallery/Districts24_081.webp",
"/img/albums/20240127-district/gallery/Districts24_082.webp",
"/img/albums/20240127-district/gallery/Districts24_083.webp",
"/img/albums/20240127-district/gallery/Districts24_084.webp",
"/img/albums/20240127-district/gallery/Districts24_085.webp",
"/img/albums/20240127-district/gallery/Districts24_086.webp",
"/img/albums/20240127-district/gallery/Districts24_087.webp",
"/img/albums/20240127-district/gallery/Districts24_088.webp",
"/img/albums/20240127-district/gallery/Districts24_089.webp",
"/img/albums/20240127-district/gallery/Districts24_090.webp",
"/img/albums/20240127-district/gallery/Districts24_091.webp",
"/img/albums/20240127-district/gallery/Districts24_092.webp",
"/img/albums/20240127-district/gallery/Districts24_093.webp",
"/img/albums/20240127-district/gallery/Districts24_094.webp",
"/img/albums/20240127-district/gallery/Districts24_095.webp",
"/img/albums/20240127-district/gallery/Districts24_096.webp",
"/img/albums/20240127-district/gallery/Districts24_097.webp",
"/img/albums/20240127-district/gallery/Districts24_098.webp"];
    var position = parseInt(0);
    // Set the time interval for the function to execute
    setInterval(nextImage, 3000);
    function nextImage() {
        // If the position is less than the array length, increment by 1 to move to the next image; otherwise, go back to the first image
        if (position <= myImageArray.length-1) {
            position++;
        }
        // Wrap around from the last image to the first
        if (position > myImageArray.length-1) {
            position = 0;
        }
        document.getElementById("photos").src = myImageArray[position];
    }
</script>
<div>
    <img src="/img/albums/20240127-district/gallery/Districts24_001.webp" id="photos" height="500" width="500"/>
</div>

<!-- https://devcodelight.com/en/automatic-image-viewer-with-javascript-html-and-css/ -->


