{{$data := .Site.Data.booster.board}}
<table class="board">
    <tr>
        <th class="board-col" style="text-align:left">Position</th>
        <th class="board-col" style="text-align:left">Member</th>
        <!-- <th class="board-col" style="text-align:left">Contact</th> -->
    </tr>
    {{ range $key, $value := $data }}
    <tr>
        <td>{{.position}}</td>
        <td>{{.fname}} {{.lname}}</td>
        <!-- <td> 
            {{ if .email }}
            <a href="mailto:{{.email}}">{{.email}}</a>
            {{end}}
        </td> -->
    </tr>
    {{ end }}
</table>

<!-- {{$data := .Site.Data.booster.board}}
<div class="row">

    <div class="col-6" style="text-align: center;">
        <h2 style="margin-bottom: 0px";>Erin Ross<br><em>President</em></h2>
        <br style="display:block; height: 4px; content: ' ';"><em><a href="mailto:rosse@lisd.net">Email</a></em>
    </div>
    <div class="col-6" style="text-align: center;">
        <h2 style="margin-bottom: 0px";>Katie Jones<br><em>Vice President</em></h2>
        <br style="display:block; height: 4px; content: ' ';"><em><a href="mailto:swimmom91114@gmail.com">Email</a></em>
    </div>

</div> 
<div class="row">
    <div class="col-4" style="text-align: center;">
        <h2 style="margin-bottom: 0px";>Bob Kruzel<br><em>Treasurer</em></h2>
        <br style="display:block; height: 4px; content: ' ';"><em><a href="mailto:bobkruzel@yahoo.com" class="small">Email</a></em>
    </div>
    <div class="col-4" style="text-align: center;">
        <h2 style="margin-bottom: 0px";>Edyta Wozniak<br><em>Secretary</em></h2>
        <br style="display:block; height: 4px; content: ' ';"><em><a href="mailto:edziawo@gmail.com">Email</a></em>
    </div>
    <div class="col-4" style="text-align: center;">
        <h2 style="margin-bottom: 0px";>Katie Lowe<br><em>Member At Large</em></h2>
        <br style="display:block; height: 4px; content: ' ';"><em><a href="mailto:katielowe02@hotmail.com">Email</a></em>
    </div>
</div> -->
