<div class="ui container">
  <div class="ui grid">
    <div class="ui sixteen column">
      <div id="calendar"></div>
    </div>
  </div>
</div>

<script>
	$(document).ready(function() {
		var strDate = (new Date()).toISOString().split('T')[0];
        console.log(strDate)
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month'
			},
			defaultDate: strDate,
			navLinks: true, // can click day/week names to navigate views
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: 'Conference',
					start: '2016-12-11',
					end: '2016-12-13'
				},
				{
					title: 'Meeting',
					start: '2016-12-12T10:30:00',
					end: '2016-12-12T12:30:00'
				},
				{
					title: 'Lunch',
					start: '2016-12-12T12:00:00'
				},
				{
					title: 'Birthday Party',
					start: '2016-12-13T07:00:00'
				},
				{
					title: 'Click for Google',
					url: 'https://google.com/',
					start: '2016-12-28'
				},
                {
                    title: 'Booster Club Dues Due',
                    url: 'https://fmhs-swim-dive-booster-club.square.site/',
                    start: '2023-09-15'
                },
                {
                    title: 'Season Open Party',
                    url: 'https://www.signupgenius.com/go/10C0849AAA72FA3FEC25-main#/',
                    start: '2023-10-01T17:45:00',
                    end: '2023-10-01T21:00:00'
                },
                {
                    title: 'vs. Plano West',
                    url: '../meets/20230923-plano-west',
                    start: '2023-09-28'
                },
                {
                    title: 'vs. Keller Timbercreek',
                    url: '../meets/20231012-keller-timbercreek',
                    start: '2023-10-12'
                },
                {
                    title: 'vs. Jesuit/Ursaline',
                    url: '../meets/20231024-jesuit-ursaline',
                    start: '2023-10-24'
                },
                {
                    title: 'vs. Ranger Relays',
                    url: '../meets/20231104-ranger-relays',
                    start: '2023-11-04'
                },
                {
                    title: 'vs. Coppell',
                    url: '../meets/20231109-coppell',
                    start: '2023-11-09'
                },
                {
                    title: 'TISCA',
                    url: '../meets/20231117-tisca',
                    start: '2023-11-17',
                    end: '2023-11-19'
                },
                {
                    title: 'vs. Frisco Reedy & LHS',
                    url: '../meets/20231130-frisco-reedy-lhs',
                    start: '2023-11-30'
                },
                {
                    title: 'vs. Marcus - Senior Night',
                    url: '../meets/20231213-marcus',
                    start: '2023-12-13'
                },
                {
                    title: 'Kyle Tilley Invitational',
                    url: '../meets/20240113-kyle-tilley',
                    start: '2024-01-13'
                },
                {
                    title: 'Districts',
                    url: '../meets/20240127-district',
                    start: '2024-01-27'
                },
                {
                    title: 'Regionals',
                    url: '../meets/20240209-regionals',
                    start: '2024-02-09',
                    end: '2024-02-11'
                },
                {
                    title: 'State',
                    url: '../meets/20240223-state',
                    start: '2024-02-23',
                    end: '2024-02-25'
                },
                {
                    title: 'Chipotle Spirit Night Fundraiser',
                    url: '/img/202310-chipotle-fundraiser.webp',
                    start: '2023-10-17T17:00:00',
                    end: '2023-10-17T121:00:00'
                }
                
			]
		});
		
	});
</script>