<!-- <div class="grid-container">
    <div class="grid-item"><img src="../img/arbogast-coty-hs-rect.jpg" alt=""></div>
    <div class="grid-item">
        <strong>Tony Arbogast<br>Head Coach</strong>
    </div>
    <div class="grid-item">3</div>
    <div class="grid-item">4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
</div> -->

<div class="row">
    <div class="col-5"><img src="/img/arbogast-coty-hs-rect.png" alt=""></div>
    <div class="col-7">
        <h3>Tony Arbogast<br>Head Coach</h3><em><a href="mailto:arbogasta@lisd.net">arbogasta@lisd.net</a></em>
        <br><br>
        <p>Tony Arbogast has been the Head Swim & Dive coach at Flower Mound High School since 2019.  He was named the Head Coach for Flower Mound Water Polo for their first UIL season in 2022.  During his time at Flower Mound High School the programs have had a great deal of success.  The swim program has produced individual District, Region and State Champions, with the Girls team placing 3rd at the 2020 6A UIL State Championship.  During his time numerous athletes have been named All-District, All-Region, All-State and NISCA All-Americans.  Throughout his four years coaching swim, he is a two-time swimming District Coach of the Year, three-time Region 2-6A Coach of the Meet and Girls & Boys THSCA Region 3 Coach of Year.</p>
        <p>Prior to FMHS, Tony spent 6 years with Lakeside Aquatic and has 20+ years of coaching experience.  He competed for Eastern Michigan University and graduated with degree in Secondary Education, History.</p>
    </div>
</div> 
<div class="row">
    <div class="col-3"><img src="/img/nick-hs-final3.jpg" alt=""></div> <!-- 25% -->
    <div class="col-9">
        <h3>Nick Dion<br>Assistanct Coach</h3><em><a href="mailto:dionn@lisd.net">dionn@lisd.net</a></em>
        <br><br>
        <p>Nick Dion has served as the Assistant Swim and Water Polo coach at Flower Mound High School since 2022. Prior to being at Flower Mound, Dion was the Head Swim Coach at Liberty High School in Frisco for two years. While at Liberty, he lead three swimmers to state finals in their respective events. While in Frisco, he also coached the Frisco United Water Polo club.</p>

        <p>In addition to his duties with FMHS, Dion also currently works for Mavericks Water Polo Club as a coach and is the head coach for the Highland Shores Swim Team.</p>
            
        <p>Dion was a four-year letterman in swimming at Marcus High School and made the All-State team his senior year.</p>
    </div> <!-- 75% -->
</div>
<!-- <div class="row">
    <div class="col-5">
        <img src="/img/sherry-hs-final.jpg" alt="">
    </div>
    <div class="col-7">
        <h3>Sherry McGuire<br>Dive Coach</h3><em><a href="mailto:mcguires@lisd.net">mcguires@lisd.net</a></em>
        <br><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mus dignissim consectetur dapibus quam lorem purus amet lorem. Platea parturient velit fusce aenean pharetra litora malesuada himenaeos.</p>

        <p>Vestibulum netus per magnis class mi suspendisse ultricies accumsan. Semper lacus blandit integer ad rutrum curabitur ullamcorper nisl. Vivamus habitasse praesent phasellus penatibus enim magnis non posuere.</p>
        
        <p>Sit ligula pretium senectus volutpat duis fermentum parturient ornare. Tincidunt eu tincidunt bibendum magnis velit suspendisse eu torquent. Pharetra aptent aptent interdum mi congue turpis in nam.</p>

        
    </div>
</div> -->