{{ $meet := .Get 0 }}

{{$data := .Site.Data.meets}}
{{ range $key, $value := where $data ".path" $meet }}

    {{ if .results }}
    <h2>Final Results</h2>
    {{ if .results.totalscores}}
        {{ range .results.totalscores }}
            <div class="col-6">
                <table>
                    <tr>
                        <th></th>
                        <th>Girls - Team Scores</th>                    
                        <th></th>
                    </tr>
                {{range .girls}}
                    <tr>
                        <td>{{.place}}</td>
                        <td>{{.school}}</td>
                        <td>{{.points}}</td>
                    </tr>
                {{end}}
                </table>
            </div>
            <div class="col-6">
                <table>
                    <tr>
                        <th></th>
                        <th>Boys - Team Scores</th>
                        <th></th>
                    </tr>
                {{range .boys}}
                    <tr>
                        <td>{{.place}}</td>
                        <td>{{.school}}</td>
                        <td>{{.points}}</td>
                    </tr>
                {{end}}
                </table>
                </div>
        {{end}}
    {{end}}
    {{if .results.resultspath }}
        <object data="/results/{{ .results.resultspath }}" type="application/pdf" width="100%" height="800">
            <p><a href="/results/{{ .results.resultspath }}">Download final results PDF</a></p>
        </object>
    {{end}}
    {{ else }}
        <p>
            <strong>Date:</strong> 
            {{ if .end }}
                {{ .start | time.Format "January 2" }}-{{ .end | time.Format "2, 2006" }}
            {{ else }}
                {{ .start | time.Format ":date_long" }}
            {{ end }}
            <br>
            {{if .arriveTime }}
            &nbsp;&nbsp;&nbsp;&nbsp;<strong>Arrive:</strong> {{.arriveTime}}<br>
            {{end}}
            {{if .warmupTime}}
            &nbsp;&nbsp;&nbsp;&nbsp;<strong>Warm-up:</strong>  {{.warmupTime}}<br>
            {{end}}
            {{if .startTime}}
            &nbsp;&nbsp;&nbsp;&nbsp;<strong>Meet Start:</strong>  {{.startTime}}
            {{end}}
        </p>
        {{if .opponent}}
        <p>
            <strong>Opponent:</strong> {{.opponent}}
        </p>
        {{end}}
        <p>
            <strong>Location:</strong><br>
            {{ if eq .location "WAC"}}
                {{ partial "wac-address-partial.html" . }}  
            {{ else if eq .location "SMU"}}
                {{ partial "smu-address-partial.html" . }}
            {{ else }}
                {{.location}}
            {{ end }}
        </p>
        {{if .heatsheet}}
        <p>
            <a href="/heatsheets/{{.heatsheet}}">Heat Sheet Download</a>
            <object data="/heatsheets/{{.heatsheet}}" type="application/pdf" width="100%" height="800">
                <!-- <p><a href="/heatsheets/{{.heatsheet}}">Download heat sheet</a></p> -->
                <p></p>
            </object>
        </p>
        {{end}}
    {{ end }}

{{ end }}

<!-- https://stackoverflow.com/questions/14081128/how-to-embed-a-pdf-viewer-in-a-page -->