{{ $year := .Get 0 }}
<!-- {{ if eq $year "current" }}
<h1>THIS IS THE CURRENT ROSTER</h1>
{{ else }} 
<h1>{{ $year }}</h1>
{{ end }} -->
<div class="row">
    <div class="col-3 roster"><h2>Seniors</h2>
        <ul class="roster">
            {{$data := index .Site.Data.roster $year }}
            {{ range $key, $value := (sort (where $data ".class" "senior") ".lname" "asc" )}}
                <li>{{.fname}} {{.lname}}</li>
            {{ end }}
        </ul>    
    </div>
    <div class="col-3 roster"><h2>Juniors</h2>
        <ul class="roster">
            {{$data := index .Site.Data.roster $year }}
            {{ range $key, $value := (sort (where $data ".class" "junior") ".lname" "asc" )}}
                <li>{{.fname}} {{.lname}}</li>
            {{ end }}
        </ul>
    </div>
    <div class="col-3 roster"><h2>Sophomores</h2>
        <ul class="roster">
            {{$data := index .Site.Data.roster $year }}
            {{ range $key, $value := (sort (where $data ".class" "sophomore") ".lname" "asc" )}}
                <li>{{.fname}} {{.lname}}</li>
            {{ end }}
        </ul>
    </div>
    <div class="col-3 roster"><h2>Freshmen</h2>
        <ul class="roster">
            {{$data := index .Site.Data.roster $year }}
            {{ range $key, $value := (sort (where $data ".class" "freshman") ".lname" "asc" )}}
                <li>{{.fname}} {{.lname}}</li>
            {{ end }}
        </ul>
    </div>
</div> 